@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import "tailwindcss";

@theme {
  /* Color Palette */
  --color-ivory-mist: #fffdf6;
  --color-vanila-flow: #faf6e9;
  --color-lemon-sage: #ddeb9d;
  --color-meadow-green: #a0c878;
  --color-modern-cyan: #51a687;

  /* Font Families */
  --font-oswald: "Oswald", sans-serif;
}
