@import "tailwindcss";

@theme {
  /* Color Palette */
  --color-ivory-mist: #fffdf6;
  --color-vanila-flow: #faf6e9;
  --color-lemon-sage: #ddeb9d;
  --color-meadow-green: #a0c878;

  /* Font Families */
  --font-oswald: "Oswald", sans-serif;
}
